body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Helvetica CE", sans-serif;
    color: #2d2d2d;
}

.table-middle-align td{
    vertical-align: middle !important;
}

.table .column-75{
    width: 75%;
}

details summary:hover{
    cursor: pointer;
}

.padding-right-30{
    padding-right: 30px;
}


